body {
  background: #09182F;
    font-family: "Lato", sans-serif;
}
.hamburger{
    
    font-size: 30px;
    cursor: pointer;
    color: darkred;
    position:absolute;
    right:25px; }
.sidenav{
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:cornsilk;
    overflow-x: hidden;
    transition: 0.5s;
    
}
.sidenav a{
    text-decoration: none;
    display: block;
    font-size: 17px;
    padding: 8px 8px 8px 32px;
    color: black;
    transition: 0.5s;
    color: darkgray;
    
}
.
.sidenav a:hover{
color: aqua;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h2{
    color: darkred;
}
p{
    color: darkred;
    font-size: 20px;
}
.info{
    margin-top:300px;
    margin-left: 500px;
    position: absolute;
    
}
.info a{text-decoration: none;
color:chocolate}
