html { height:100%; }
body
{
  background-image:url("lonely-boat.png"); 
  background-size:cover;
  background-position:center;
  
}
.info{
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    margin-top: 250px;
}
a{
    text-decoration: none;
    color:aqua;
}