html{height: 100%;}
body{
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
}

.input-group{
    width: 30%;
   position: absolute;
    left: 470px;
    top: 300px;
}

#error{
    color: red;
   position: absolute;
    left: 470px;
    top: 340px;
    font-size: 18px;
    
}
#get{
    position: absolute;
    color: royalblue;
    font-size: 18px;
    left: 470px;
    top: 240px;
    
}
#set{
     position: absolute;
    color: royalblue;
    font-size: 18px;
    left: 470px;
    top: 240px;
}
label{
    margin-left: 500px;
    font-size: large;
    color:royalblue;
}
.info{
    color:royalblue;
    text-align: center;
    font-size: 25px;
    margin-top: 310px;
}
a{
    text-decoration: none;
    color:darkslateblue;
}
span{
    margin-left: 80px;
}